body{
    background-color: aliceblue;
}

.full {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .full {
        width: 60%;
        margin: 0 20%;
    }
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2{
    text-align: left;
    font-size: 24px;
}

.info {
    text-align: center;
}

.info-detail{
    font-style: normal;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

li{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

strong{
    font-size: 18px;
    font-family: sans-serif;
}

.edu-time {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 10%;
}

a {
    text-decoration: none;
    white-space: normal;
    color: gray;
    font-style: italic;
    font-size: 15px;
    font-family: "Consolas";
}

.key{
    margin: 0 5%;
    font-family: 'Courier New', KaiTi;
}

hr{
    width: 100%;
}

